@page
@model EmmetAndEvie.Pages.emmettPageModel
@{
    ViewData["Title"] = "Emmett";
}
<h1>@ViewData["Title"]</h1>

<h2>All about Emmett!</h2>
<p>
    Origin Story: In summer Of 2018 our family went to the highland games in Enumclaw Washington. A scottish heritage festival
    held annually. We were not in the market for a new pup but our dad fell in love with the Dandie Dinmont Terriers lazing around
    the highland dog tent. He started causually looking for a dandie to call his own. Eventually he heard of a litter of puppies
    down in California and after a several day road trip, Emmett came home!
</p>
<img src ="~/Images/meAndEmmett.jpg" width=" 400" height="630" align="right" />

<h2> Likes:</h2>

<ul>
    <li> Chicken Treats</li>
    <li> Socks and Stuffed Animals</li>
    <li> Kisses</li>
    <li> Barking</li>
</ul>
<h2> Dislikes:</h2>

<ul>
    <li> The Vacuum</li>
    <li> Deer</li>
    <li> Loud Noises</li>
</ul>