@page
@model EmmetAndEvie.Pages.eviePageModel
@{
    ViewData["Title"] = "Evie";
}
<h1>@ViewData["Title"]</h1>

<p>All about Evie!</p>
<p>
    Origin Story: In Fall of 2019, Our Beloved cocker spaniel, Annie passed away quite suddenly. Everyone in our
    family was devastated but Emmett was hit particularly hard. He wouldn’t eat and continuously moped. We decided it
    was time for him to have a new friend. Finding Evie took some time. We asked everyone we could find if they
    had heard of a girl Dandie needing a new home. Just after Christmas we got an email! Evie was living
    in Texas with her mom Hope. The plan was for her to be a show dog, but she was far to shy. Our mom booked a 
    ticket and brought our little Texas girl back home! Evie is still very shy, but she makes progress everyday by 
    meeting new dogs and people and we are so proud of her!
</p>
<h2> Likes:</h2>

<ul>
    <li> All Food</li>
    <li> Chasing Balls</li>
    <li> Snuggling</li>
    <li> Barking</li>
</ul>
<h2> Dislikes:</h2>

<ul>
    <li> The Vacuum</li>
    <li> Big Doggos</li>
    <li> Power Tools</li>
</ul>

