@page
@model EmmetAndEvie.Pages.HelpfulLinksModel
@{

    ViewData["Title"] = "Helpful Links";
}
<h1> @ViewData["Titel"] </h1>
<ul>
  <li>  <a href="https://www.akc.org/dog-breeds/dandie-dinmont-terrier/">American Kennel Club Dandie Page</a> </li>
   <li> <a href="https://www.ddtca.org/">Dandie Dinmont Club of America</a></li>
  <li>  <a href="https://en.wikipedia.org/wiki/Dandie_Dinmont_Terrier">Dandie Dinmont Wikipedia Page</a></li>
</ul>


