@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Emmett and Evie</h1>
    @*this is where things are seen on the site page*@
    <h2>
        Hello! Welcome To Emmett and Evie's website! Emmett and Evie are Dandie Dinmont Terriers and best friends and we are so happy
        have you visit. On this site you can get background info about the pups and learn about dandies as a breed!
    </h2>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
