@page
@model EmmetAndEvie.Pages.photoGalleryModel
@{

    ViewData["Title"] = "Photo Gallery";
}
<h1>@ViewData["Title"]</h1>

<p>Pictures of the Pups!</p>
@*this is kind of Ugly, Fix it! :)*@

<img src="~/Images/emmettGrad.jpg" width=" 400" height="630" align="left" /> 
<img src="~/Images/unnamed (1).jpg" width=" 400" height="630" align="right" />
<img src="~/Images/unnamed.jpg" width=" 400" height="630" align="left" />
<img src="~/Images/unnamed (2).jpg" width=" 400" height="630" align="right" />
<img src="~/Images/unnamed (3).jpg" width=" 400" height="630" align="right" />
<img src="~/Images/evieSleeping.jpg" width=" 600" height="430" align="left" />

